/** @format */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/*  Primary */
	--color-blue: hsl(246, 80%, 60%);
	--light-red-work: hsl(15, 100%, 70%);
	--color-soft-blue: hsl(195, 74%, 62%);
	--light-red-study: hsl(348, 100%, 68%);
	--lime-green-exercise: hsl(145, 58%, 55%);
	--violet-social: hsl(264, 64%, 52%);
	--soft-orange-self-care: hsl(43, 84%, 65%);

	/*  Neutral */

	--very-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
	--desaturated-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);

	/*  Font */

	--title-principals-fontSize: 18px;
	--font-Family: 'Rubik', sans-serif;
}

body {
	background-color: var(--very-dark-blue);
	color: white;
	font-family: var(--font-Family);
	height: auto;
}

header,
section {
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 85vw;
}

header a {
	text-decoration: none;
}

.profile--ImgAndName {
	position: relative;
	display: flex;
	background-color: var(--color-blue);
	width: 100%;
	height: 140px;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 20px;
	margin-bottom: -20px;
}

.profile--ImgAndName h2 {
	margin-top: 5px;
	font-weight: 400;
}

.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid white;
	overflow: hidden;
}

#imgprofile {
	width: inherit;
}

nav {
	display: flex;
	width: inherit;
	height: 100px;
	background-color: var(--dark-blue);
	border-radius: 0 0 20px 20px;
}

nav ul {
	width: inherit;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
}

.menu-item {
	position: relative;
	color: var(--color-blue);
	cursor: pointer;
	z-index: 10;
	transition: all ease 0.4s;
}

.menu-item:hover {
	color: var(--pale-blue);
}

.featured {
	color: var(--pale-blue);
}

.square {
	margin-top: 24px;
	display: block;
	width: inherit;
	border-radius: 20px;
	transition: all ease 0.5s;
	fill:#BBC0FF;
}
.square--border {
	height: 40px;
	overflow: hidden;
	text-align: right;
	padding-right: 15px;
}

.square--content {
	border-radius: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 120px;
	padding: 10px 0;
	background-color: var(--dark-blue);
	transition: all ease 1s;
}

.square--content:hover {
	background-color: var(--color-blue);
	cursor: pointer;
}

.square--titleAndButton {
	margin: 20px 20px;
}
.square--timeAndPrevious {
	margin: 0 20px;
	margin-bottom: 30px;
	transition: all ease 1s;
}
.square--titleAndButton,
.square--timeAndPrevious {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.square--title {
	font-size: var(--title-principals-fontSize);
	font-weight: 500;
}

.square--more {
	font-size: 35px;
	margin-top: -20px;
	color: var(--pale-blue);
}

.square--time {
	font-weight: 300;
	font-size: 35px;
	margin-top: -15px;
}

.square--previous {
	color: var(--pale-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.icon-adjust {
	margin-top: -10px;
}

#work {
	background-color: var(--light-red-work);
}

#play {
	background-color: var(--color-soft-blue);
}

#study {
	background-color: var(--light-red-study);
}
#exercise {
	background-color: var(--lime-green-exercise);
}
#social {
	background-color: var(--violet-social);
}
#selfCare {
	background-color: var(--soft-orange-self-care);
}

@media (min-width: 769px) {
	body {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header {
		margin: 0;
		margin-top: -20px;
		width: 200px;
	}

	section {
		width: 700px;
		margin: 0;
		margin-left: 20px;
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr;
	}

	.profile--ImgAndName {
		display: flex;
		flex-direction: column;
		background-color: var(--color-blue);
		height: 290px;
		align-items: flex-start;
		justify-content: space-evenly;
		border-radius: 10px;
		padding-left: 20px;
	}

	.profile--ImgAndName h2 {
		font-size: 30px;
		margin-top: 5px;
		font-weight: 300;
	}

	.avatar {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 3px solid white;
		overflow: hidden;
	}

	#imgprofile {
		width: inherit;
	}

	nav {
		display: flex;
		width: inherit;
		height: 150px;
		border-radius: 0 0 10px 10px;
		padding: 20px;
		padding-left: 25px;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 20px;
	}

	nav ul li {
		font-size: 14px;
	}

	.menu-item {
		position: relative;
	}

	.square {
		margin: 0;
		margin-bottom: 20px;
		width: 200px;
		height: 200px;
		border-radius: 10px;
	}
	.square--border {
		height: 40px;
		overflow: hidden;
		text-align: right;
		padding-right: 15px;
	}

	.square--content {
		border-radius: 10px;
		justify-content: center;
		height: 161px;
		padding: 10px 0;
		width: 202px;
		margin-left: -1px;
	}

	.square--timeAndPrevious {
		
		flex-direction: column;

		margin-bottom: 20px;
		transition: all ease 1s;
	}
	.square--titleAndButton,
	.square--timeAndPrevious {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.square--title {
		font-size: 14px;
		font-weight: 500;
	}

	.square--more {
		margin-top: -20px;
	}

	.square--more:hover {
		fill: #fff;
		
	}

	.square--time {
		font-weight: 300;
		font-size: 35px;
		margin-top: -15px;
	}

	.square--previous {
		font-size: 12px;
	}
}
